extends layout

block content 





	.container
		.row
			.col-md-6
				.widget-area.no-padding.blank
					.status-upload
						form(method='POST', action='/posts/new')
							textarea(name='body', placeholder='What are you up to?')
							ul
								li
									a(title='', data-toggle='tooltip', data-placement='bottom', data-original-title='Audio')
										i.fa.fa-music
								li
									a(title='', data-toggle='tooltip', data-placement='bottom', data-original-title='Video')
										i.fa.fa-video-camera
								li
									a(title='', data-toggle='tooltip', data-placement='bottom', data-original-title='Sound Record')
										i.fa.fa-microphone
								li
									a(title='', data-toggle='tooltip', data-placement='bottom', data-original-title='Picture')
										i.fa.fa-picture-o
							button.btn.btn-success.green(type='submit')
								i.fa.fa-share
								|  Submit
					// Status Upload
				// Widget Area


	br
	br





	if !users.empty
		each user in users
			each post in user.posts
				.container
					.row
						.col-sm-2
							.thumbnail
								img.img-responsive.user-photo(src=user.profilePic)
							// /thumbnail
						// /col-sm-1
						.col-sm-10
							.panel.panel-default
								.panel-heading
									a(href='/users/profile/' + user._id)
										strong #{user.name}
									span.text-muted= "  " + post.date
									.pull-right
										a.delete-post(href='#', data-id=post._id, data-toggle='tooltip', data-placement='bottom', data-original-title='Picture')
											i.fa.fa-trash-o
								.panel-body  #{post.content}
								.panel-footer
									.right
						
											a(href='#' + post._id, data-toggle='tooltip', data-placement='top', style='padding: 3px' data-original-title='Picture')
												i.fa.fa-comments
									.left
										a.add-like(href='#' + post._id, data-id=post._id, data-toggle='tooltip', data-placement='top', style='padding: 3px' data-original-title='Picture')
											if post.likes 
												#{post.likes}
										
											i.fa.fa-thumbs-up
										a.add-like(href='#' + post._id,data-id=post._id, data-toggle='tooltip', data-placement='top', style='padding: 3px' data-original-title='Picture')
											if post.dislikes 
												#{post.dislikes}

											i.fa.fa-thumbs-down
				br

		

