extends layout

block content 

	if profile.profilePic
	.container
		.row
			.profile-header-container
				.profile-header-img
					img.img-circle(src=profile.profilePic)
					// badge
					.rank-label-container
						span.label.label-default.rank-label=profile.name


	if user.id == profile.id
		form(method='POST' enctype='multipart/form-data' action='/users/upload/' + user.id)
			#form-group
				label Upload Profile Picture
				input.form-control(type='file' name='avatar')
			br
			input.btn.btn-primary(type='submit' value='Submit')


	br
	br


	each post in profile.posts
		.container
			.row
				.col-sm-2
					.thumbnail
						img.img-responsive.user-photo(src=profile.profilePic)
					// /thumbnail
				// /col-sm-1
				.col-sm-10
					.panel.panel-default
						.panel-heading
							a(href='/users/profile/' + profile._id)
								strong #{user.name}
							span.text-muted= "  " + post.date
							.pull-right
								a(href='#' + post._id, data-toggle='tooltip', data-placement='bottom', data-original-title='Picture')
									i.fa.fa-trash-o
						.panel-body  #{post.content}
						.panel-footer
							.right
									a(href='#' + post._id, data-toggle='tooltip', data-placement='top', style='padding: 3px' data-original-title='Picture')
										i.fa.fa-thumbs-up
									a(href='#' + post._id, data-toggle='tooltip', data-placement='top', style='padding: 3px' data-original-title='Picture')
										i.fa.fa-thumbs-down

				
									a(href='#' + post._id, data-toggle='tooltip', data-placement='top', style='padding: 3px' data-original-title='Picture')
										i.fa.fa-comments








