extends layout

block content 

	if profile.profilePic
	.container
		.row
			.profile-header-container
				.profile-header-img
					img.img-circle(src=profile.profilePic)
					// badge
					.rank-label-container
						span.label.label-default.rank-label=profile.name


	if user.id == profile.id
		form(method='POST' enctype='multipart/form-data' action='/users/upload/' + user.id)
			#form-group
				label Upload Profile Picture
				input.form-control(type='file' name='avatar')
			br
			input.btn.btn-primary(type='submit' value='Submit')


	br
	br


	each post in profile.posts
		.container
			.row
				.col-sm-1
					.thumbnail
						img.img-responsive.user-photo(src=profile.profilePic)
					// /thumbnail
				// /col-sm-1
				.col-sm-5
					.panel.panel-default
						.panel-heading
							strong=profile.name
							span.text-muted=post.date
						.panel-body=post.content
						// /panel-body
					// /panel panel-default
				// /col-sm-5		








